<div class="splash">
  <%if current_user%>
    <h2>Hi, <%= current_user.name %>!</h2>
  <% end %>
    <img class="image-category" src="<%= image_path("icons8-market-64.png") %>" alt="icon app"/>
  <h1>My Money</h1>
  <div class="splash_buttons">
    <%if user_signed_in?%>
    <%= link_to button_to "Categories", categories_path, class:"btn btn-info", method: :get %>
    <%= button_to "Sign Out", destroy_user_session_path, class: "btn btn-primary", method: :delete %>
    <% else %>
      <%= button_to "Sign In", new_user_session_path, class: "btn btn-info" %>
      <%= button_to "Sign Up", new_user_registration_path, class: "btn btn-info" %>
    <% end %>
  </div>
</div>
