<%= form_with(model: Category.new) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "name", required: true %>
  </div>

<% @images.each do |image| %>
    <%= link_to(image_tag asset_path("#{image.split('/').last}"), {:controller => :items, :action => :new, :id => 'my_new_apple' } ) %>
<% end %>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-info" %>
  </div>
<% end %>
