<%= form_with(model: Category.new) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "name", required: true %>
  </div>
  <div class="field">
      <legend>Select one image:</legend>  
      <div class="images-container" >
      <% @images.each do |image| %>
          <div class="image-select" >
              <%=image_tag asset_path("#{image.split('/').last}")%>
              <%= f.radio_button :icon, "#{image.split('/').last}"%> 
          </div>
       <% end %>
       </div>
</div>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-info" %>
  </div>
<% end %>
